################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessDay/bin/Debug/netcoreapp2.1
/.vs
/.vs/BusinessDay
/BusinessDay/obj
/BusinessDay/bin/Debug

/BusinessDay.Data/bin/Debug
/BusinessDay.Data/obj

/BusinessDay.Services/bin/Debug
/BusinessDay.Services/obj

/BusinessDay.Tests/bin/Debug
/BusinessDay.Tests/obj
