################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessDay/bin/Debug/netcoreapp2.1
/.vs/BusinessDay/v15
/BusinessDay/obj
/BusinessDay.Data/bin/Debug/netcoreapp2.1
/BusinessDay.Data/obj/Debug/netcoreapp2.1
/BusinessDay.Services/bin/Debug/netcoreapp2.1
/BusinessDay.Services/obj/Debug/netcoreapp2.1
/BusinessDay.Tests/bin/Debug/netcoreapp2.1
/BusinessDay.Tests/obj/Debug/netcoreapp2.1
